.menu-container{
    /* background-color: #0f1923; */
}
.category{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.filter-btn{
    margin-right: 1rem;
    text-transform: capitalize;
    font-weight: bolder;
    background: transparent;
    border: 1px solid #f4d03f;
    padding: 7px 20px;
}
.filter-btn:hover{
    flex-grow: 0.1;
    color: #fff;
    background-color: #58d68d;
    transition: all .4s ease-in-out;
    border: none;
}
h1{
    text-align: center;
}
.menu-image img{
    width: 250px;
    height: 250px;
}
.menu-item{
    background-color: #0f1923;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid#f4d03f;
    margin: 2rem 0;
    height: 250px;
}
.title,
.desc{
    padding: 1rem;
    color:  #d0d3d4;
}
.price{
    position: relative;
    float: inline-end;
    color:  #58d68d;
}